# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# react-info-site-v2
# dependencies
react-info-site-v2/node_modules/
react-info-site-v2/.pnp
react-info-site-v2/pnp.js

# testing
react-info-site-v2/coverage/

# production
react-info-site-v2/build/

# misc
react-info-site-v2/.DS_Store
react-info-site-v2/.env.local
react-info-site-v2/.env.development.local
react-info-site-v2/.env.test.local
react-info-site-v2/.env.production.local

react-info-site-v2/npm-debug.log*
react-info-site-v2/yarn-debug.log*
react-info-site-v2/yarn-error.log*


# digital-business-card
# dependencies
digital-business-card/node_modules/
digital-business-card/.pnp
digital-business-card/pnp.js

# testing
digital-business-card/coverage/

# production
digital-business-card/build/

# misc
digital-business-card/.DS_Store
digital-business-card/.env.local
digital-business-card/.env.development.local
digital-business-card/.env.test.local
digital-business-card/.env.production.local

digital-business-card/npm-debug.log*
digital-business-card/yarn-debug.log*
digital-business-card/yarn-error.log*


# airbnb-experience-clone
# dependencies
airbnb-experience-clone/node_modules/
airbnb-experience-clone/.pnp
airbnb-experience-clone/pnp.js

# testing
airbnb-experience-clone/coverage/

# production
airbnb-experience-clone/build/

# misc
airbnb-experience-clone/.DS_Store
airbnb-experience-clone/.env.local
airbnb-experience-clone/.env.development.local
airbnb-experience-clone/.env.test.local
airbnb-experience-clone/.env.production.local

airbnb-experience-clone/npm-debug.log*
airbnb-experience-clone/yarn-debug.log*
airbnb-experience-clone/yarn-error.log*


# desired-travel-places
# dependencies
desired-travel-places/node_modules/
desired-travel-places/.pnp
desired-travel-places/pnp.js

# testing
desired-travel-places/coverage/

# production
desired-travel-places/build/

# misc
desired-travel-places/.DS_Store
desired-travel-places/.env.local
desired-travel-places/.env.development.local
desired-travel-places/.env.test.local
desired-travel-places/.env.production.local

desired-travel-places/npm-debug.log*
desired-travel-places/yarn-debug.log*
desired-travel-places/yarn-error.log*


# meme-generator
# dependencies
meme-generator/node_modules/
meme-generator/.pnp
meme-generator/pnp.js

# testing
meme-generator/coverage/

# production
meme-generator/build/

# misc
meme-generator/.DS_Store
meme-generator/.env.local
meme-generator/.env.development.local
meme-generator/.env.test.local
meme-generator/.env.production.local

meme-generator/npm-debug.log*
meme-generator/yarn-debug.log*
meme-generator/yarn-error.log*


# react-info-site-v3
# dependencies
react-info-site-v3/node_modules/

# production
react-info-site-v3/index.pack.js

# notes-app
# dependencies
notes-app/node_modules/

# production
notes-app/index.pack.js


# tenzies
# dependencies
tenzies/node_modules/
tenzies/.pnp
tenzies/pnp.js

# testing
tenzies/coverage/

# production
tenzies/build/

# misc
tenzies/.DS_Store
tenzies/.env.local
tenzies/.env.development.local
tenzies/.env.test.local
tenzies/.env.production.local

tenzies/npm-debug.log*
tenzies/yarn-debug.log*
tenzies/yarn-error.log*


# vite-styled-components
# dependencies
vite-styled-components/node_modules/